{% extends 'base.html' %}

{% block principal %}

    <h2>Ejemplares disponibles</h2>

  

    </table>
    <table class="table table-dark">
            <thead>
                    <tr>
                            <th>Numero ejemplar</th>
                            <th>fecha de compra</th>
                            <th>libro</th>
                            <th>Editar</th>
                    </tr>
            </thead>
            <tbody>
                    {% for ejemplar in object_list %}
                    <tr>
                        
                        <td>{{ ejemplar.numeroejemplar }}</td>
                        <td>{{ ejemplar.fechadecompra }}</td>
                        <td>{{ ejemplar.libro }}</td>
                        {% if user.is_authenticated %}
                        <td><button type="submit" class="btn btn-light"><a href="{% url 'editar_ejemplar' ejemplar.id %}">Editar</a></button></td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
    </table>
    

{% endblock %}

