{% extends 'base.html' %}

{% block principal %}

    <h1>ejemplares disponibles</h1>


    <style>
        table {
            width: 100%;
            border: 1px;
        }
        th, td {
            height: 25%;
        }
    </style>

    <table>
        <tr>
            <th>Numero ejemplar</th>
            <th>fecha de compra</th>
            <th>libro</th>
        </tr>
        {% for ejemplar in object_list %}
            <tr>
                
                <td>{{ ejemplar.numeroejemplar }}</td>
                <td>{{ ejemplar.fechadecompra }}</td>
                <td>{{ ejemplar.libro }}</td>
                
            </tr>
        {% endfor %}

    </table>
   

{% endblock %}

